/// Custom Colours

$html-hex: #e34f26;
$html-base: hsl(13, 77%, 52%);
$html-light: hsl(13, 77%, 62%);
$html-dark: hsl(13, 77%, 42%);

$css-hex: #1d4ed8;
$css-base: hsl(224, 76%, 48%);
$css-light: hsl(224, 76%, 68%);
$css-dark: hsl(224, 76%, 58%);

$javascript-hex: #f7df1e;
$javascript-base: hsl(53, 93%, 54%);
$javascript-light: hsl(53, 93%, 64%);
$javascript-dark: hsl(53, 93%, 44%);

$sass-hex: #cd669a;
$sass-base: hsl(330, 51%, 60%);
$sass-light: hsl(330, 51%, 70%);
$sass-dark: hsl(330, 51%, 50%);

$bootstrap-hex: #58407e;
$bootstrap-base: hsl(263, 33%, 37%);
$bootstrap-light: hsl(263, 33%, 47%);
$bootstrap-dark: hsl(263, 33%, 27%);

$react-hex: #00d8ff;
$react-base: hsl(189, 100%, 50%);
$react-light: hsl(189, 100%, 60%);
$react-dark: hsl(189, 100%, 70%);

$sql-hex: #00758f;
$sql-base: hsl(191, 100%, 28%);
$sql-light: hsl(191, 100%, 38%);
$sql-dark: hsl(191, 100%, 18%);

$php-hex: #8892be;
$php-base: hsl(229, 29%, 64%);
$php-light: hsl(229, 29%, 74%);
$php-dark: hsl(229, 29%, 54%);

$laravel-hex: #f55247;
$laravel-base: hsl(4, 90%, 62%);
$laravel-light: hsl(4, 90%, 72%);
$laravel-dark: hsl(4, 90%, 52%);

$astro-hex: #1f1f1f;
$astro-base: hsl(0, 0%, 12%);
$astro-light: hsl(0, 0%, 22%);
$astro-dark: hsl(0, 0%, 2%);

$youtube-hex: #ff0000;
$youtube-base: hsl(0, 100%, 50%);
$youtube-light: hsl(0, 100%, 60%);
$youtube-dark: hsl(0, 100%, 40%);

$github-hex: #000000;
$github-base: hsl(0, 0%, 0%);
$github-light: hsl(0, 0%, 10%);
$github-dark: hsl(0, 0%, 0%);

$instagram-hex: #e1306c;
$instagram-base: hsl(340, 75%, 54%);
$instagram-light: hsl(340, 75%, 64%);
$instagram-dark: hsl(340, 75%, 44%);

$linkedin-hex: #0a66c2;
$linkedin-base: hsl(210, 90%, 40%);
$linkedin-light: hsl(210, 90%, 50%);
$linkedin-dark: hsl(210, 90%, 30%);
