/// Contact

.section-contact {
  --_section-bg-clr: theme("colors.neutral.50");

  &-hero {
    --_section-bg-img: url("/src/assets/images/contact-hero-mobile.svg");
    --_section-bg-position: center bottom;

    .section__wrapper {
      display: grid;
      place-items: center;
    }
  }

  &-content {
    --_section-bg-img: url("/src/assets/images/footer-mobile.svg");
    --_section-bg-position: bottom center;

    .section__wrapper {
      display: grid;
    }
  }
}

.form {
  &-contact {
    display: grid;
    grid-template-rows: repeat(6, min-content);
    gap: theme("gap.4");
  }

  &__alert {
    --_form-alert-clr: theme("colors.neutral.800");
    --_form-alert-bg-clr: theme("colors.neutral.100");

    color: var(--_form-alert-clr);
    background-color: var(--_form-alert-bg-clr);
    border-radius: theme("borderRadius.sm");
    box-shadow: theme("boxShadow.md");
    padding: theme("padding.4");
    display: none;

    &[data-active="true"] {
      display: block;
    }

    &-danger {
      --_form-alert-bg-clr: theme("colors.red.100");
    }

    &-success {
      --_form-alert-bg-clr: theme("colors.green.100");
    }
  }

  &__field {
    width: 100%;
    min-height: theme("fontSize.base");
    color: theme("colors.neutral.800");
    background-color: theme("colors.neutral.50");
    padding: theme("padding.1");
    border-block-end: thin solid theme("colors.neutral.800");

    &-hidden {
      display: none;
    }

    &:disabled {
      color: theme("colors.neutral.500");
      border-block-end: thin solid theme("colors.neutral.500");
      cursor: not-allowed;
    }
  }
}

.theme-dark,
[data-theme="dark"] {
  .section-contact {
    --_section-bg-clr: theme("colors.neutral.950");

    &-hero {
      --_section-bg-img: url("/src/assets/images/contact-hero-mobile-dark.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-mobile-dark.svg");
    }
  }

  .form {
    &__alert {
      --_form-alert-clr: theme("colors.neutral.100");
      --_form-alert-bg-clr: theme("colors.neutral.800");

      &-danger {
        --_form-alert-bg-clr: theme("colors.red.800");
      }

      &-success {
        --_form-alert-bg-clr: theme("colors.green.800");
      }
    }

    &__field {
      color: theme("colors.neutral.300");
      background-color: theme("colors.neutral.950");
      border-block-end: thin solid theme("colors.neutral.300");
    }
  }
}

@container container-q-primary-main (width > theme("screens.sm")) {
  .section-contact {
    &-hero {
      --_section-bg-img: url("/src/assets/images/contact-hero-desktop.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-desktop.svg");
    }
  }

  .theme-dark,
  [data-theme="dark"] {
    .section-contact {
      --_section-bg-clr: theme("colors.neutral.950");

      &-hero {
        --_section-bg-img: url("/src/assets/images/contact-hero-desktop-dark.svg");
      }

      &-content {
        --_section-bg-img: url("/src/assets/images/footer-desktop-dark.svg");
      }
    }

    .form {
      &__alert {
        --_form-alert-clr: theme("colors.neutral.100");
        --_form-alert-bg-clr: theme("colors.neutral.800");

        &-danger {
          --_form-alert-bg-clr: theme("colors.red.800");
        }

        &-success {
          --_form-alert-bg-clr: theme("colors.green.800");
        }
      }

      &__field {
        color: theme("colors.neutral.300");
        background-color: theme("colors.neutral.950");
        border-block-end: thin solid theme("colors.neutral.300");
      }
    }
  }
}

@container container-q-primary-main (width > theme("screens.md")) {
  .form-contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, min-content);

    .form__alert {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    .form__field-subject {
      grid-column: 1 / 4;
      grid-row: 3;
    }

    .form__field-message {
      grid-column: 1 / 4;
      grid-row: 4;
    }

    .form__button {
      grid-row: 5;

      &-submit {
        grid-column: 1;
      }

      &-reset {
        grid-column: 2;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .section-contact {
    --_section-bg-clr: theme("colors.neutral.950");

    &-hero {
      --_section-bg-img: url("/src/assets/images/contact-hero-mobile-dark.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-mobile-dark.svg");
    }
  }

  .form {
    &__field {
      color: theme("colors.neutral.300");
      background-color: theme("colors.neutral.950");
      border-block-end: thin solid theme("colors.neutral.300");
    }
  }

  @container container-q-primary-main (width > theme("screens.sm")) {
    .section-contact {
      &-hero {
        --_section-bg-img: url("/src/assets/images/contact-hero-desktop-dark.svg");
      }

      &-content {
        --_section-bg-img: url("/src/assets/images/footer-desktop-dark.svg");
      }
    }
  }
}
