/// Dialogs

.dialog {
  --_dialog-spacer: theme("padding.4");

  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");
  overflow: hidden;
  position: fixed;

  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: theme("gap.4");
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: theme("gap.2");
  }

  &-cookie {
    width: clamp(var(--dialog-width), 100% - theme("padding.6"), 23em);
    left: theme("padding.4");
    right: theme("padding.4");
    bottom: theme("padding.4");
    padding-block-start: var(--_dialog-spacer);
    padding-block-end: var(--_dialog-spacer);
    padding-inline-start: var(--_dialog-spacer);
    padding-inline-end: calc(var(--_dialog-spacer) * 3);
    color: theme("colors.neutral.50");
    background-color: theme("colors.blue.500");
    z-index: 1;
  }

  &-skill {
    color: theme("colors.neutral.50");
    background-color: theme("colors.blue.500");
    width: clamp(var(--dialog-width), 100% - 2em, 50ch);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;

    .dialog__header {
      background-color: theme("colors.blue.600");
      padding-block-start: var(--_dialog-spacer);
      padding-block-end: var(--_dialog-spacer);
      padding-inline-start: var(--_dialog-spacer);
      padding-inline-end: calc(var(--_dialog-spacer) * 3);
    }

    .dialog__body {
      padding-block-start: var(--_dialog-spacer);
      padding-block-end: var(--_dialog-spacer);
      padding-inline-start: var(--_dialog-spacer);
      padding-inline-end: var(--_dialog-spacer);
    }

    .dialog__footer {
      padding-block-start: var(--_dialog-spacer);
      padding-block-end: var(--_dialog-spacer);
      padding-inline-start: var(--_dialog-spacer);
      padding-inline-end: var(--_dialog-spacer);
    }

    .dialog__buttons {
      justify-content: end;
    }
  }

  .btn-skill {
    --_btn-hover-clr: var(--_btn-clr);
    --_btn-hover-bg-clr: var(--_btn-bg-clr);
    --_btn-hover-border-clr: var(--_btn-border-clr);

    --_btn-spacer-block: theme("padding.1");
    --_btn-spacer-inline: theme("padding.2");
  }

  a {
    --_a-clr: theme("colors.neutral.50");
    --_a-td: underline;

    --_a-hover-clr: theme("colors.neutral.100");
  }
}

.btn-dialog {
  --_btn-spacer-block: theme("padding.2");
  --_btn-spacer-inline: theme("padding.3");

  &-close {
    position: absolute;
    top: theme("padding.2");
    right: theme("padding.2");
  }

  &-yes {
    --_btn-clr: theme("colors.neutral.950");
    --_btn-bg-clr: theme("colors.green.500");
    --_btn-border-clr: theme("colors.green.500");

    --_btn-hover-clr: theme("colors.neutral.950");
    --_btn-hover-bg-clr: theme("colors.green.600");
    --_btn-hover-border-clr: theme("colors.green.600");
  }

  &-no {
    --_btn-clr: theme("colors.neutral.50");
    --_btn-bg-clr: theme("colors.red.500");
    --_btn-border-clr: theme("colors.red.500");

    --_btn-hover-clr: theme("colors.neutral.50");
    --_btn-hover-bg-clr: theme("colors.red.600");
    --_btn-hover-border-clr: theme("colors.red.600");
  }
}
