/// Articles

.section-post {
  --_section-bg-clr: theme("colors.neutral.50");

  &-hero {
    --_section-bg-clr: theme("colors.blue.500");
    --_section-bg-img: url("/src/assets/images/post-hero-mobile.svg");
    --_section-bg-position: center bottom;

    .section__wrapper {
      display: grid;
      place-items: center;
    }
  }

  &-content {
    --_section-bg-img: url("/src/assets/images/footer-mobile.svg");
    --_section-bg-position: bottom center;

    h1 {
      font-size: theme("fontSize.5xl");
      font-weight: theme("fontWeight.semibold");
    }

    h2 {
      font-size: theme("fontSize.4xl");
      font-weight: theme("fontWeight.semibold");
    }

    h3 {
      font-size: theme("fontSize.3xl");
      font-weight: theme("fontWeight.semibold");
    }

    h4 {
      font-size: theme("fontSize.2xl");
      font-weight: theme("fontWeight.semibold");
    }

    h5 {
      font-size: theme("fontSize.xl");
      font-weight: theme("fontWeight.semibold");
    }

    h6 {
      font-size: theme("fontSize.lg");
      font-weight: theme("fontWeight.semibold");
    }

    blockquote {
      --_blockquote-spacer: theme("padding.3");

      background-color: theme("colors.neutral.300");
      padding: theme("padding.2");
      border-radius: theme("borderRadius.sm");
      box-shadow: theme("boxShadow.md");

      & > * + * {
        margin-block-start: var(--_blockquote-spacer);
      }
    }

    ul {
      list-style-type: disc;
      margin-inline-start: theme("padding.4");
    }

    ol {
      list-style-type: decimal;
      margin-inline-start: theme("padding.4");
    }
  }
}

.imgs-grid {
  display: flex;
  flex-wrap: wrap;
  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");
  overflow: hidden;

  & > img {
    flex-grow: 1;
    width: 33%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.post__content {
  --_post-content: theme("colors.neutral.200");
  --_post-spacer: theme("padding.4");

  background-color: var(--_post-content);
  padding-block-start: var(--_post-spacer);
  padding-block-end: var(--_post-spacer);
  padding-inline-start: var(--_post-spacer);
  padding-inline-end: var(--_post-spacer);
  border-radius: theme("borderRadius.sm");
  box-shadow: theme("boxShadow.md");

  img {
    max-height: 60ch;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

.theme-dark,
[data-theme="dark"] {
  .section-post {
    --_section-bg-clr: theme("colors.neutral.950");

    &-hero {
      --_section-bg-img: url("/src/assets/images/post-hero-mobile-dark.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-mobile-dark.svg");

      blockquote {
        background-color: theme("colors.neutral.700");
      }
    }
  }

  .post__content {
    --_post-content: theme("colors.neutral.800");
  }
}

@container container-q-primary-main (width > theme("screens.sm")) {
  .section-post {
    &-hero {
      --_section-bg-img: url("/src/assets/images/post-hero-desktop.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-desktop.svg");
    }
  }

  .theme-dark,
  [data-theme="dark"] {
    .section-post {
      &-hero {
        --_section-bg-img: url("/src/assets/images/post-hero-desktop-dark.svg");
      }

      &-content {
        --_section-bg-img: url("/src/assets/images/footer-desktop-dark.svg");

        blockquote {
          background-color: theme("colors.neutral.700");
        }
      }
    }

    .post__content {
      --_post-content: theme("colors.neutral.800");
    }
  }
}

@media (prefers-color-scheme: dark) {
  .section-post {
    --_section-bg-clr: theme("colors.neutral.950");

    &-hero {
      --_section-bg-img: url("/src/assets/images/post-hero-mobile-dark.svg");
    }

    &-content {
      --_section-bg-img: url("/src/assets/images/footer-mobile-dark.svg");

      blockquote {
        background-color: theme("colors.neutral.700");
      }
    }
  }

  .post__content {
    --_post-content: theme("colors.neutral.800");
  }

  @container container-q-primary-main (width > theme("screens.sm")) {
    .section-post {
      &-hero {
        --_section-bg-img: url("/src/assets/images/post-hero-desktop-dark.svg");
      }

      &-content {
        --_section-bg-img: url("/src/assets/images/footer-desktop-dark.svg");
      }
    }
  }
}
