---
import Main from "../layouts/main.astro"
import * as funny from "../content/funny/main.md"
const { title } = funny.frontmatter
---
<Main title={title}>
    <section
        id="funny-hero"
        class="section section-funny section-funny-hero"
      >
        <div class="wrapper section__wrapper | mx-auto p-4">
          <h1
            class="section-hero-home__heading | text-5xl font-bold text-neutral-50 uppercase"
          >
            {title}
          </h1>
        </div>
        <!-- ./wrapper -->
      </section>

      <section
        id="funny-content"
        class="section section-half section-funny section-funny-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <div class="funny-content-wrapper | flow">
            <h2 class="text-3xl font-bold">Lorem Ipsum</h2>

            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam,
              nulla?
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit consectetur omnis dolor cupiditate corrupti tempore.
            </p>
          </div>
        </div>
        <!-- ./wrapper -->
      </section>

      <div id="funny-end" class="section section-funny section-funny-end"></div>
</Main>