---
import "./../styles/app.scss"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="./../assets/images/logo-svg.svg" />
		<title>Dav/Devs</title>
		<script is:inline src="https://kit.fontawesome.com/1b82ea5cb2.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
