---
import Main from "../layouts/main.astro"
import * as privacyPolicy from "../content/privacy-policy/main.md"
const { title } = privacyPolicy.frontmatter
---
<Main title={title}>
    <section
        id="privacy-hero"
        class="section section-half section-privacy section-privacy-hero"
      >
        <div class="wrapper section__wrapper | mx-auto p-4">
          <h1
            class="section-hero-home__heading | text-center text-4xl font-bold text-neutral-50"
          >
            {title}
          </h1>
        </div>
      </section>

      <section
        id="privacy-content"
        class="section section-privacy section-privacy-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <privacyPolicy.Content />
        </div>
      </section>

      <div
        id="privacy-end"
        class="section section-half section-privacy section-privacy-end"
      ></div>
</Main>