---
import Main from "../layouts/main.astro"

import * as main from "../resume/main.md"
console.log(main.frontmatter)
---

<Main title="Resume">
    <section
        id="resume-hero"
        class="section section-half section-resume-hero"
      >
        <div class="wrapper section__wrapper | mx-auto p-4">
          <h1
            class="section-hero-home__heading | text-center text-4xl font-bold text-neutral-50"
          >
            Resume
          </h1>
        </div>
      </section>

      <section
        id="resume-content"
        class="section section-resume section-resume-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <!-- Objective -->
          <div class="flex items-center justify-between g-4">
            <h2
              id="resume-objective"
              class="section-hero-resume__heading | text-4xl font-bold"
            >
              Davina Leong
            </h2>

            <div>
              <button
                class="btn btn-print"
                type="button"
                data-element="btn-print"
              >
                <i class="fa-light fa-light fa-print"></i> Print
              </button>
            </div>
          </div>

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Address:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Email:</span>
              <span>
                <a href="mailto:leong.shi.yun@gmail.com">
                  leong.shi.yun@gmail.com
                </a>
              </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">LinkedIn:</span>
              <span>
                <a
                  href="https://www.linkedin.com/in/davina-leong-s9115675g/"
                  target="_blank"
                >
                  davina-leong-s9115675g
                </a>
              </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">GitHub:</span>
              <span>
                <a href="https://github.com/davinaleong" target="_blank">
                  github.com/davinaleong
                </a>
              </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Portfolio:</span>
              <span>
                <a href="https://davina-devs.com"> davina-devs.com </a>
              </span>
            </p>
          </div>

          <p class="text-sm">Lorem Ipsum</p>
          <!-- ./Objective -->

          <!-- Skills -->
          <h2
            id="resume-skills"
            class="section-hero-resume__heading | text-3xl font-bold"
          >
            Skills
          </h2>

          <h3 class="font-bold">Develop</h3>
          <p class="text-sm">
            HTML5, CSS3, Responsive web design, JavaScript ES6, PHP, Laravel,
            SQL, React, Typescript, REST API, GraphQL
          </p>

          <h3 class="font-bold">Design</h3>
          <p class="text-sm">XD, Photoshop, Illustrator</p>

          <h3 class="font-bold">DevOps</h3>
          <p class="text-sm">AWS, Heroku, Netlify</p>

          <h3 class="font-bold">Languages</h3>
          <p class="text-sm">English, Chinese (Mandarin)</p>
          <!-- ./Skills -->

          <!-- Experience -->
          <h2
            id="resume-experience"
            class="section-hero-resume__heading | text-3xl font-bold"
          >
            Experience
          </h2>

          <div class="flow">
            <p class="text-grid text-sm">
              <span class="text-grid__label | font-bold">Company:</span>
              <span>Company Name</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label | font-bold">Period:</span>
              <span>May 2022 &ndash; May 2023</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label | font-bold">Location:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label | font-bold">Position:</span>
              <span>Web Developer</span>
            </p>

            <ul class="list text-sm">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                delectus?
              </li>
              <li>
                Illo vero atque cum recusandae totam aliquam qui dolore
                expedita.
              </li>
              <li>
                Quo placeat necessitatibus enim sapiente quae voluptatum
                consequatur beatae quos!
              </li>
            </ul>
          </div>
          <!-- ./flow -->

          <div class="flow">
            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Company:</span>
              <span>Company Name</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Period:</span>
              <span>May 2022 &ndash; May 2023</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Location:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Position:</span>
              <span>Web Developer</span>
            </p>

            <ul class="list text-sm">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                delectus?
              </li>
              <li>
                Illo vero atque cum recusandae totam aliquam qui dolore
                expedita.
              </li>
              <li>
                Quo placeat necessitatibus enim sapiente quae voluptatum
                consequatur beatae quos!
              </li>
            </ul>
          </div>
          <!-- ./flow -->

          <div class="flow">
            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Company:</span>
              <span>Company Name</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Period:</span>
              <span>May 2022 &ndash; May 2023</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Location:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Position:</span>
              <span>Web Developer</span>
            </p>

            <ul class="list text-sm">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                delectus?
              </li>
              <li>
                Illo vero atque cum recusandae totam aliquam qui dolore
                expedita.
              </li>
              <li>
                Quo placeat necessitatibus enim sapiente quae voluptatum
                consequatur beatae quos!
              </li>
            </ul>
          </div>
          <!-- ./flow -->

          <div class="flow">
            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Company:</span>
              <span>Company Name</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Period:</span>
              <span>May 2022 &ndash; May 2023</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Location:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Position:</span>
              <span>Web Developer</span>
            </p>

            <ul class="list text-sm">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                delectus?
              </li>
              <li>
                Illo vero atque cum recusandae totam aliquam qui dolore
                expedita.
              </li>
              <li>
                Quo placeat necessitatibus enim sapiente quae voluptatum
                consequatur beatae quos!
              </li>
            </ul>
          </div>
          <!-- ./flow -->

          <div class="flow">
            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Company:</span>
              <span>Company Name</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Period:</span>
              <span>May 2022 &ndash; May 2023</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Location:</span>
              <span>West, Singapore</span>
            </p>

            <p class="text-grid text-sm">
              <span class="text-grid__label font-bold">Position:</span>
              <span>Web Developer</span>
            </p>

            <ul class="list text-sm">
              <li>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                delectus?
              </li>
              <li>
                Illo vero atque cum recusandae totam aliquam qui dolore
                expedita.
              </li>
              <li>
                Quo placeat necessitatibus enim sapiente quae voluptatum
                consequatur beatae quos!
              </li>
            </ul>
          </div>
          <!-- ./flow -->
          <!-- ./Experience -->

          <!-- Education -->
          <h2 id="resume-education" class="text-2xl font-bold">Education</h2>

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Qualification:</span>
              <span> Certificate </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Period:</span>
              <span> May 2022 &ndash; May 2023 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Qualification:</span>
              <span> Certificate </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Period:</span>
              <span> May 2022 &ndash; May 2023 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Qualification:</span>
              <span> Certificate </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Period:</span>
              <span> May 2022 &ndash; May 2023 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->
          <!-- ./Education -->

          <!-- Certificate -->
          <h2 id="resume-certificates" class="text-2xl font-bold">
            Certificates
          </h2>

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Certificate:</span>
              <span> Lorem Ipsum </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Date:</span>
              <span> May 2022 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Certificate:</span>
              <span> Lorem Ipsum </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Date:</span>
              <span> May 2022 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->

          <div class="flow" style="--_flow-spacer: 0.5em">
            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Certificate:</span>
              <span> Lorem Ipsum </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Date:</span>
              <span> May 2022 </span>
            </p>

            <p class="text-grid | text-sm">
              <span class="text-grid__label | font-bold">Institiution:</span>
              <span> Orchard Road, Singapore </span>
            </p>
          </div>
          <!-- ./flow -->
          <!-- ./Certificates -->

          <!-- Talkes -->
          <h2 id="resume-talks" class="text-2xl font-bold">Talks</h2>

          <ul class="list">
            <li><a href="#">A Healthy Lifestyle</a></li>
            <li><a href="#">CraftCMS</a></li>
          </ul>
          <!-- ./Talkes -->

          <!-- Hobbies -->
          <h2 id="resume-hobbies" class="text-2xl font-bold">Hobbies</h2>

          <ul class="list">
            <li>Spending time with Jesus</li>
            <li>Programming</li>
            <li>Food</li>
            <li>Board & card games</li>
            <li>Gym</li>
          </ul>
          <!-- ./Talks -->
        </div>
        <!-- ./wrapper -->
      </section>

      <div
        id="resume-end"
        class="section section-half section-resume section-resume-end"
      ></div>
</Main>