---

---
<dialog class="dialog" data-element="cookie-dialog">
    <button
      class="btn btn-dialog btn-dialog-close"
      type="button"
      data-element="btn-close"
    >
      <i class="fa-thin fa-sharp fa-xmark"></i>
      <span class="btn__text">Close</span>
    </button>
    <div class="dialog__body">
      <div class="dialog__body__content | flow">
        <p>
          Accept cookies. Read the
          <a href="privacy-policy/">privacy policy here</a>.
        </p>
      </div>
      <div class="dialog__body__buttons">
        <button
          class="btn btn-dialog btn-green btn-sm"
          type="button"
          data-element="btn-yes"
        >
          <i class="fa-thin fa-sharp fa-check"></i> Yes
        </button>
        <button
          class="btn btn-dialog btn-red btn-sm"
          type="button"
          data-element="btn-no"
        >
          <i class="fa-thin fa-sharp fa-xmark"></i> No
        </button>
      </div>
    </div>
</dialog>