---
import logo from "../assets/images/logo-white-svg.svg"
---
<footer class="primary-footer" data-element="primary-footer">
    <div class="wrapper mx-auto">
      <div class="primary-footer__top">
        <div class="primary-footer__top__col | flow">
          <a href="#" class="btn btn-primary-footer">
            <img
              src={logo}
              alt="Dav/Devs footer logo"
              srcset=""
            />
            <div>Dav/Devs</div>
          </a>
        </div>
        <div class="primary-footer__top__col | flow">
          <h2 class="primary-footer__heading">Home</h2>
          <ul class="primary-footer__list">
            <li><a href="/#home-skills">Skills</a></li>
            <li><a href="/#home-featured">Featured Projects</a></li>
            <li><a href="/#home-talks">Talks</a></li>
            <li><a href="/#home-social">Social</a></li>
          </ul>
        </div>
        <div class="primary-footer__top__col | flow">
          <h2 class="primary-footer__heading">Resume</h2>
          <ul class="primary-footer__list">
            <li><a href="resume/#resume-objective">Objective</a></li>
            <li><a href="resume/#resume-skills">Skils</a></li>
            <li><a href="resume/#resume-experience">Experience</a></li>
            <li><a href="resume/#resume-education">Education</a></li>
            <li><a href="resume/#resume-certificates">Certificates</a></li>
            <li><a href="resume/#resume-talks">Talks</a></li>
            <li><a href="resume/#resume-hobbies">Hobbies</a></li>
            <li><a href="resume/#resume-testimonials">Testimonials</a></li>
          </ul>
        </div>
        <div class="primary-footer__top__col | flow">
          <h2 class="primary-footer__heading">Portfolio</h2>
          <ul class="primary-footer__list">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">Laravel</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">ReactJS</a></li>
          </ul>
        </div>
        <div class="primary-footer__top__col | flow">
          <h2 class="primary-footer__heading">Social</h2>
          <ul class="primary-footer__list">
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">GitHub</a></li>
          </ul>
        </div>
      </div>
      <div class="primary-footer__bottom">
        <p class="text-center text-sm">
          Dav/Devs &copy; Davina Leong, since ${config.year}.
        </p>
      </div>
    </div>    
</footer>