---
import { Image } from 'astro:assets'
import logo from "../assets/images/logo-white-svg.svg"
---
<header class="primary-header" data-element="primary-header">
    <div class="wrapper primary-header-wrapper mx-auto">
        <a href="index.html" class="btn btn-primary-header">
            <Image src={logo} alt="Dav/Devs Footer Logo" /> Dav/Devs
        </a>

        <nav class="primary-header__nav">
            <a href="index.html" class="primary-header__nav__link">Home</a>
            <a href="resume.html" class="primary-header__nav__link">Resume</a>
            <a href="portfolio.html" class="primary-header__nav__link">Portfolio</a>
            <a href="contact.html" class="primary-header__nav__link">Contact</a>
            <a href="funny.html" class="primary-header__nav__link">Funny</a>
        </nav>

        <button
            type="button"
            class="btn btn-primary-header"
            data-element="primary-header__menu">
                <i class="fa-thin fa-sharp fa-bars"></i>
                <span class="sr-only">Menu</span>
        </button>
      </div>

    <button
        type="button"
        class="btn btn-primary-header"
        data-element="primary-header__close">
            <i class="fa-thin fa-sharp fa-xmark"></i>
            <span class="sr-only">Close</span>
    </button>
</header>