---
import MainLayoutAstro from "../layouts/main.layout.astro"

import * as index from "../content/articles/main.md"
const { title } = index.frontmatter
---
<MainLayoutAstro>
    <section id="home-articles" class="section section-articles-hero">
        <div class="wrapper section__wrapper | flow mx-auto p-4">
          <h1 class="section-article-home__heading | text-6xl font-bold text-neutral-50 uppercase">
            {title}
          </h1>
        </div>
        <!-- ./wrapper -->
    </section>

    <section
        id="articles-content"
        class="section section-articles section-articles-content"
      >
        <div class="wrapper section__wrapper | mx-auto p-4 flow">
          <div class="cards-grid">
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
            <div class="card">
                <img
                  src={`/placeholders/project.png`}
                  alt="Project Screenshot"
                  class="card__img"
                />
                <div class="card__overlay | flow">
                  <header class="card__overlay__header">
                    <h3 class="card__overlay__heading">
                      <a href="#">Lorem Ipsum</a>
                    </h3>
                  </header>
                </div>
            </div><!-- ./card -->
          </div><!-- ./card-grid -->
        </div>
        <!-- ./wrapper -->
    </section>
</MainLayoutAstro>